<div class="col-md-4" style="float:left">
  <div class="card">
    <div class="card-header">
      <img class="card-img" src="https://image.tmdb.org/t/p/w500/nBNZadXqJSdt05SHLqgT0HuC5Gm.jpg" alt="Card image">
    </div>
    <div class="card-body">
      <h1 class="card-title">{{movie?.title}} ({{movie?.releaseYear}})</h1>
      <div class="container">
        <div class="row parent">
          <div class="col-4 metadata child child">
            <i class="fa fa-star" aria-hidden="true"></i>
            <p>9.5/10</p>
          </div>
          <div class="col-8 metadata child">{{movie?.genre?.name}}</div>
          <div class="col-12 child"> <a href="#">View cast</a></div>
        </div>
      </div>
      <p class="card-text">{{movie?.summary}}</p>
      <p class="card-text">Director : {{movie?.director?.name}}</p>
      <a class="trailer-preview" href="https://youtu.be/ePbKGoIGAXY" target="new">
        <i class="fa fa-play" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>